In [ ]:
print("pandas")

pandas

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("sales_data_sample.csv",encoding="latin1")

In [ ]:
df.head()

In [ ]:
np=pd.read_excel("SampleSuperstore.xlsx")

In [ ]:
np.head()

In [ ]:
pn=pd.read_json("sample_Data.json")

In [ ]:
pn.head()

In [ ]:

data={
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}

In [ ]:
df=pd.DataFrame(data)

In [ ]:
print(df.shape)

In [ ]:
df.to_csv("output.csv", index=False)

df.to_json("output.json")

In [ ]:
print(df.info())

In [ ]:
data={
    "name":["ravi","kiran","suresh"],
    "age":[23,24,25],
    "salary":[1000,2000,3000],
    "performance":[1,2,3]
}

#adding a new column
df=pd.DataFrame(data)
df['bonus'] = df['salary'] * 0.1  # Adding a new column 'bonus' which is 10% of 'salary'
print(df)

#now using insert method to add a new column at a specific position
df.insert(2, 'department', ['HR', 'Finance', 'IT'])  # Insert 'department' column at index 2
print(df)

     name  age  salary  performance  bonus
0    ravi   23    1000            1  100.0
1   kiran   24    2000            2  200.0
2  suresh   25    3000            3  300.0
     name  age department  salary  performance  bonus
0    ravi   23         HR    1000            1  100.0
1   kiran   24    Finance    2000            2  200.0
2  suresh   25         IT    3000            3  300.0

In [ ]:
#updating values in a column
df.loc[df['name'] == 'ravi', 'salary'] = 1500  # Update salary for 'ravi'
print(df)

     name  age department  salary  performance  bonus
0    ravi   23         HR    1500            1  100.0
1   kiran   24    Finance    2000            2  200.0
2  suresh   25         IT    3000            3  300.0

In [ ]:
#updating a whole column
df['salary'] = df['salary'] * 1.02
print(df)

     name  age department  salary  performance  bonus
0    ravi   23         HR  1560.6            1  100.0
1   kiran   24    Finance  2080.8            2  200.0
2  suresh   25         IT  3121.2            3  300.0

In [ ]:
#deleting the columns
df.drop(columns=["department"] , inplace=True)
print(df)

     name  age  salary  performance  bonus
0    ravi   23  1560.6            1  100.0
1   kiran   24  2080.8            2  200.0
2  suresh   25  3121.2            3  300.0

In [ ]:
#sorting the dataframe
df.sort_values(by='age', ascending=True , inplace=True)  # Sort by 'age' in ascending order
print(df)

     name  age  salary  performance  bonus
0    ravi   23  1560.6            1  100.0
1   kiran   24  2080.8            2  200.0
2  suresh   25  3121.2            3  300.0

In [ ]:

df_customer = pd.DataFrame({
    'customer_id': [1, 2, 3],
    'customer_name': ['Alice', 'Bob', 'Charlie']
})

df_order = pd.DataFrame({
    'order_id': [101, 102, 103],
    'customer_id': [1, 2, 4],
    'order_amount': [250, 150, 300]
})

df_merged = pd.merge(df_customer, df_order, on='customer_id', how='outer')  # Inner join on 'customer_id'
print(df_merged)

   customer_id customer_name  order_id  order_amount
0            1         Alice     101.0         250.0
1            2           Bob     102.0         150.0
2            3       Charlie       NaN           NaN
3            4           NaN     103.0         300.0